{% extends "base.html" %}

{% block title %}Lista de Codigos en Comisaría Primera{% endblock %}

{% block content %}

{% load custom_tags %}
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.css" /> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script> -->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
<!-- estilos varios -->
<style>
    /* ::-webkit-scrollbar {
        display: none;
    } */
    h1{
        font-family: 'Roboto Slab', serif;
    }
    .dt-layout-row{
        font-size: 13px;
    }
    #dt-search-0{
        border-radius: 6px;
        min-width: 300px;
    }
    #dt-length-0{
        border-radius: 6px;
    }
    /* cambio de posicion buscador y selector de registros */
    .dt-layout-row {
        display: flex;
    }
    div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
        order: 1;
        justify-content: flex-start;
        margin-left: 0;
    }
    div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
        order: 2;
        justify-content: flex-end;
        margin-right: 0;
    }
    /* Estilos para el modo oscuro */
    .dark .dataTables_wrapper {
        background-color: #2d2d2d;
        color: #e0e0e0;
    }

    <!-- SUB MENU -->
    <div class="mb-4">
    {% include "includes/submenu.html" with create_url='comisaria_primera_create' download_url='generate_comisaria_primera_pdf_download' download_previous_url='generate_comisaria_primera_pdf_download_previous_day' %}
    </div>
    <!-- USUARIOS CONECTADOS-->
    <div class="mb-4">
        {% include "includes/usuarios_conectados.html" %}
    </div>
   <!-- Formulario de búsqueda y selección de elementos por página 15/01/25-->
    <div class="mb-4 flex justify-between items-center">
    <!-- Formulario de búsqueda -->
        <form method="get" class="flex items-center">
            <input 
                type="text" 
                name="q" 
                value="{{ query }}" 
                placeholder="Buscar..." 
                class="border rounded px-4 py-2 w-full max-w-xs bg-white text-gray-900 dark:bg-gray-800 dark:text-gray-100"
            >
            <button 
                type="submit" 
                class="ml-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
                Buscar
            </button>
            <button 
                type="button" 
                onclick="clearSearch()" 
                class="ml-2 bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-2.707-5.707a1 1 0 010-1.414L8.586 10 7.293 8.707a1 1 0 011.414-1.414L10 8.586l1.293-1.293a1 1 0 011.414 1.414L11.414 10l1.293 1.293a1 1 0 01-1.414 1.414L10 11.414l-1.293 1.293a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
            </button>
        </form>

    <!-- Formulario para selección de elementos por página -->
        <form method="get">
            <select 
                name="items_per_page" 
                onchange="this.form.submit()" 
                class="border rounded px-4 py-2 bg-white text-gray-900 dark:bg-gray-800 dark:text-gray-100"
            >
                <option value="10" {% if items_per_page == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if items_per_page == 20 %}selected{% endif %}>20</option>
                <option value="30" {% if items_per_page == 30 %}selected{% endif %}>30</option>
                <option value="40" {% if items_per_page == 40 %}selected{% endif %}>40</option>
            </select>
            <input type="hidden" name="q" value="{{ query }}">
        </form>
    </div>
    <!--Tabla-->
    <div class="overflow-x-auto rounded-lg">
        <table id="myTable" class="display carajo w-full text-[13px] rounded-lg">
            <thead class=" text-white rounded-lg ">
                <tr>
                    <th class="px-4 py-4 text-center rounded-tl-lg">Cuarto</th>
                    <th class="px-4 py-4 text-center">Fecha y Hora</th>
                    <th class="px-4 py-4 text-center">Código</th>
                    <th class="px-4 py-4 text-center">Lugar</th>
                    <th class="px-4 py-4 text-center">Descripción</th>
                    <th class="px-4 py-4 text-center">Estado</th>
                    <th class="px-4 py-4 text-center">Creado por</th>
                    <th class="px-4 py-4 text-center">1er Registro</th>
                    <th class="px-4 py-4 text-center">Editado por</th>
                    <th class="px-4 py-4 text-center">Última Modificación</th>
                    <th class="px-4 py-4 text-center">Acciones</th>
                </tr>
            </thead>
 <!-- se agrego el resaltaado 20/01/25 -->
            <tbody>
                {% for record in page_obj %}
                <tr class="tede border">
                    <td class="py-1 px-2 font-bold text-center">{{ record.cuarto.cuarto|highlight:query|safe }}</td>
                    <td class="py-1 px-2 text-center">{{ record.fecha_hora|date:"d/m/Y H:i:s"|highlight:query|safe }}</td>
                    <td class="td-codigo py-1 px-2 text-center">{{ record.codigo|default_if_none:''|highlight:query|safe }}</td>
                    <td class="td-qth py-1 px-2 text-center">{{ record.lugar_codigo|default_if_none:''|highlight:query|safe }}</td>
                    <td class="py-1 px-2 text-center">                   
                        <button @click="descripcion = '{{ record.descripcion|highlight:query|escapejs }}'; showModal = true" 
                            class="bg-blue-600 text-white px-3 py-2 rounded" 
                            style="font-size: 9px; font-weight: 600;"
                            onmouseover="this.style.backgroundColor='#3B82F6';"
                            onmouseout="this.style.backgroundColor='#2563eb';">
                            VER
                        </button>                      
                    </td>
                    <td class="py-1 px-2 text-center {% if record.estado %}blink-red{% endif %}">
                        {{ record.estado|yesno:"Activo,Finalizado" }}
                    </td>
                    <td class="td-nombres py-1 px-2 text-center">{{ record.created_by.get_full_name|default_if_none:''|highlight:query|safe }}</td>
                    <td class="py-1 px-2 text-center">{{ record.created_at|date:"d/m/Y H:i:s"|highlight:query|safe }}</td>
                    <td class="td-nombres py-1 px-2 text-center">{{ record.updated_by.get_full_name|default:''|highlight:query|safe }}</td>
                    <td class="py-1 px-2 text-center">{{ record.updated_at|date:"d/m/Y H:i:s"|highlight:query|safe }}</td>
                    <td class="td-acciones px-2 text-center">
 <!-- fin 20/01/25 -->
                        <a href="{% url 'comisaria_primera_detail' record.pk %}" 
                            class="bg-blue-600 text-white  px-4 w-full rounded  block text-center my-1">
                            FULL
                        </a>

                        {% if not request.user.get_full_name in record.firmas %}
                        {% if is_oficialesservicios or is_jefessuperiores or is_encargadosguardias %}
                        <button @click.prevent="recordIdToSign = {{ record.pk }}; showConfirmModal = true" 
                        class="bg-teal-500 text-black  px-4 w-full rounded  block text-center my-1">
                        FIRMAR
                        </button>
                        {% endif %}
                        {% endif %}

                        {% if record.estado or record.fecha_hora.date == today %}
                        {% if is_oficialesservicios or is_jefessuperiores or is_encargadosguardias %}
                        <a href="{% url 'comisaria_primera_edit' record.pk %}" 
                            class="bg-yellow-500 text-black  px-4 w-full rounded  block  text-center my-1">
                            EDITAR
                        </a>
                        {% endif %}
                        {% endif %}

                        {% if is_jefessuperiores or user.is_superuser %}
                        <!-- Botón Eliminar (Soft Delete) con confirmación -->
                        <button @click.prevent="if (confirm('¿Estás seguro/a de que deseas eliminar este registro?')) { window.location.href = '{% url 'comisaria_primera_eliminar' record.pk %}' }"
                        class="bg-red-600 text-white  px-4 w-full rounded  block text-center my-1">
                        ELIMINAR
                        </button>
                        {% endif %}

                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Paginación -->
    <div class="flex justify-between items-center mt-4">
        <span>Mostrando registros del {{ page_obj.start_index }} al {{ page_obj.end_index }} de un total de {{ page_obj.paginator.count }}</span>
        <div>
            {% if page_obj.has_previous %}
            <a href="?page=1&items_per_page={{ items_per_page }}" class="paginacion-numeros px-2 py-1 border rounded">Primero</a>
            <a href="?page={{ page_obj.previous_page_number }}&items_per_page={{ items_per_page }}" class="paginacion-numeros px-2 py-1 border rounded">Anterior</a>
            {% endif %}
            {% for num in page_range %}
            {% if num == page_obj.number %}
            <span class="paginacion-numeros px-2 py-1 border rounded bg-blue-500 text-white">{{ num }}</span>
            {% else %}
            <a href="?page={{ num }}&items_per_page={{ items_per_page }}" class="paginacion-numeros px-2 py-1 border rounded">{{ num }}</a>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&items_per_page={{ items_per_page }}" class="paginacion-numeros px-2 py-1 border rounded">Siguiente</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&items_per_page={{ items_per_page }}" class="paginacion-numeros px-2 py-1 border rounded">Último</a>
            {% endif %}
        </div>
    </div>


    <!-- Modal -->
    <div x-show="showModal" x-cloak class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-2 px-4 pb-20 text-center sm:block sm:p-0">
            <div x-show="showModal" 
                class="fixed inset-0 bg-gray-700 bg-opacity-75 transition-opacity" aria-hidden="true">
            </div>
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
            <div x-show="showModal" 
                class="inline-block align-bottom bg-white  rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="modal-desc bg-white  px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium dark:text-white text-gray-900" id="modal-title">Descripción</h3>
                            <div class="mt-2">
                                <!-- Usar x-html para renderizar el HTML en lugar de texto -->
                                <div class="descripcion-container text-sm text-gray-500" x-html="descripcion"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-desc bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button @click="showModal = false" type="button" 
                        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación para Firmar -->
    <div x-show="showConfirmModal" x-cloak class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">
        <div class="bg-white dark:bg-gray-800 rounded-lg p-4 w-1/3">
            <h2 class="text-lg font-bold dark:text-white">Confirmar Firma</h2>
            <p class="mt-2 text-gray-800 dark:text-gray-300">¿Está seguro de que desea firmar este registro?</p>
            <div class="mt-4 flex justify-end gap-4">
                <button @click="showConfirmModal = false" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600">Cancelar</button>
                <button @click="confirmSign()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Confirmar</button>
            </div>
        </div>
    </div>

<style>
    @keyframes blink {
        50% {
            opacity: 0.5;
        }
    }
    .animate-blink {
        animation: blink 1.5s infinite;
        background-color: #fef08a; /* Amarillo claro */
    }
    </style>

    <script>
        function showModal(content) {
            document.getElementById('modal-content').innerHTML = content; // Renderiza el contenido HTML
            document.getElementById('modal').classList.remove('hidden');
        }
    
        function closeModal() {
            document.getElementById('modal').classList.add('hidden');
        }
    
        function clearSearch() {
            const url = new URL(window.location.href);
            url.searchParams.delete('q');
            url.searchParams.set('items_per_page', '{{ items_per_page }}');
            window.location.href = url.toString();
        }
    </script>
<!-- cierre 9/01/25 -->
    <!-- SweetAlert2 para mostrar el mensaje de éxito -->
{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
            Swal.fire({
                icon: 'success',  // Cambia el ícono según el tipo de mensaje (success, error, etc.)
                title: '¡Éxito!',
                text: '{{ message }}',
                confirmButtonText: 'OK',
                timer: 3000  // La alerta se cierra automáticamente después de 3 segundos
            });
        {% endfor %}
    });
</script>
{% endif %}
{% endblock %}
